<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="#">MHCS | Counselor Profile settings</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav text-white ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/doctor">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/doctor/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appointment" >Appointments and Schedule</a>
            </li>
            <li>
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li>
                <a class="nav-link" href="#">Session</a>
            </li>
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="/doctor/upload">
                        <div class="form-group">
                            <label for="propic"><strong>Update profile picture:</strong></label>
                            <input type="file" accept="image/*"  name="propic" class="form-control-file border border-dark rounded"/>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Upload"/>
                    </form>

                    <form action="/doctor/edit/<%=d_id%>" method="post">
                        <input type="hidden" name="user_id" value="<%=user_id%>">
                        <input type="hidden" name="id" value="<%=d_id%>">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="name"><strong>Full Name:</strong></label>
                                <input type="text" class="form-control" name="name" id="name" value="<%=name%>" placeholder="Full Name"/>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="email"><strong>Email:</strong></label>
                                <input type="email" class="form-control" name="email" id="email" value="<%=email%>" placeholder="Email"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="username"><strong>Username:</strong></label>
                                <input type="text" class="form-control" name="username" id="username" value="<%=username%>" placeholder="Username"/>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="password"><strong>Password:</strong></label>
                                <input type="password" class="form-control" name="password" id="password" value="<%=password%>" placeholder="Password"/>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="phone"><strong>Phone:</strong></label>
                                <input type="text" class="form-control" name="phone" id="phone" value="<%=phone%>" placeholder="Phone"/>
                            </div>
                        </div>

                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="gender"><strong>Gender:</strong></label>
                                <select class="form-control" name="gender" id="gender">
                                    <option selected hidden><%=gender%></option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="form-group">
                                <label for="license"><strong>License:</strong></label>
                                <input type="text" class="form-control" name="license" id="license" value="<%=license_num%>" placeholder="License Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="qualifications"><strong>Qualifications:</strong></label>
                        <textarea class="form-control" name="qualifications" id="qualifications"  placeholder="Educational Qualifications"><%=qualifications%></textarea>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <label for="specialty"><strong>Specialty:</strong></label>
                                <select class="form-control" name="specialty" id="specialty">
                                    <option selected hidden><%=specialty%></option>
                                    <option>Addiction Psychology</option>
                                    <option>Biopsychology</option>
                                    <option>Cognitive Psychology</option>
                                    <option>Counseling Psychology</option>
                                    <option>Developmental Psychology</option>
                                    <option>Educational Psychology</option>
                                    <option>Experimental Psychology</option>
                                    <option>Forensic Psychology</option>
                                    <option>Health Psychology</option>
                                    <option>Human Factors Psychology</option>
                                    <option>Industrial Psychology</option>
                                    <option>Media Psychology</option>
                                    <option>Military Psychology</option>
                                    <option>Pediatric Psychology</option>
                                    <option>Social Psychology</option>
                                    <option>Sport Psychology</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-12 col-md-4 offset-md-4">
                            <input type="submit" class="btn btn-block btn-primary" value="Save" id="submit"/>
                        </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-auto">
        </div>
    </div>
</div>

<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
